include ../mixins

doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  title
  meta(name='description', content='')
  meta(name='viewport', content='width=device-width, initial-scale=1')

  block styles
    link(rel='stylesheet', href='../public/css/bootstrap.css')
    link(rel='stylesheet', href='../public/css/trendy.css')
    link(rel='stylesheet', href='../public/css/animated.css')
    link(rel='stylesheet', href='../public/css/font-awesome.min.css')
    style.
      html {
        overflow: hidden;
      }
      body {
        padding: 0;
        overflow: auto;
        margin: 0;
        -webkit-overflow-scrolling: touch;
      }

  .bg-light.h-full(style='padding-top:60px;padding-bottom:22px;')
    .pos-fix.w-full(style='z-index:9999;top:0;')
      +appNav()
    .pos-fix.w-full(style='z-index:9999;bottom:0;height:22px;')
      +slimBar()
    .app.pos-rlt
      block main

  block foot
    // Space to put any needed modals
