include ../mixins

doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  title
  meta(name='description', content='')
  meta(name='viewport', content='width=device-width, initial-scale=1')

  block styles
    //link(rel='stylesheet', href='css/main.css')

    link(rel='stylesheet', href='../public/css/bootstrap.css')
    link(rel='stylesheet', href='../public/css/trendy.css')
    //link(rel='stylesheet', href='css/icon-font.css')
    link(rel='stylesheet', href='../public/css/animated.css')

    link(rel='stylesheet', href='../public/css/font-awesome.min.css')

    //link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css')

  .bg-light.h-full(style='padding-top:82px;')
    .pos-fix.w-full(style='z-index:9999;top:0;')
      +menuBar()
      +appNav()
    .app.pos-rlt
      block main


  block foot
    // These are separate because the BG needs to be transparent but the content opaque.
    .modal.animated.zoomIn
      span.modal-title Message
      p Are you sure about that chief?
      .buttons
        a.button.button-ok
          i.icon-check-mark
        a.button.button-cancel
          i.icon-remove
        a.button.button-single
          i.icon-check-mark
    .js-exchange-data-prototype.hide
      span.modal-title Exchange Rates
      .exchange
        .exchange-rate.js-bittrex
          .exchange-site Bittrex
          .exchange-price.js-exchange-rate-container
            i.js-up-or-down-today
            span.js-exchange-rate Loading
            span.exchange-currency BTC
            a.js-buy Buy
        .exchange-rate.js-cryptsy
          .exchange-site Cryptsy
          .exchange-price.js-exchange-rate-container
            i.js-up-or-down-today
            span.js-exchange-rate Loading
            span.exchange-currency BTC
            a.js-buy Buy
        .exchange-rate.js-ask-coin
          .exchange-site AskCoin
          .exchange-price.js-exchange-rate-container
            i.js-up-or-down-today
            span.js-exchange-rate Loading
            span.exchange-currency BTC
            a.js-buy Buy
    script(src='../lib/index.js')
    //- script(src='../public/js/vendor/jquery-2.0.2.min.js')
    //- script(src='../public/js/paycoin-nw-global.js')
    //- script(src='../public/js/paycoin-nw-index.js')
    //- script(src='../public/js/bootstrap.min.js')
