extends ./layouts/default

block main
  +loadingScreen()
  script(type='text/javascript', src='../public/js/vendor/jquery-2.0.2.min.js')
  script(type='text/javascript', src='../public/js/bootstrap.min.js')
  script.
    $('[data-toggle="tooltip"]').tooltip()
  script.
    if (typeof require !== 'function') {
      // If we are in a web env
      var script = document.createElement('script')
      script.src = 'bundle.js'
      document.currentScript.parentNode.insertBefore(script, document.currentScript)
    } else {
      require('../desktop')()
    }
