extends ./layouts/default

block main
  script.
    if (typeof require !== 'function') {
      // If we are in a web env
      var script = document.createElement('script')
      script.src = 'bundle.js'
      document.currentScript.parentNode.insertBefore(script, document.currentScript)
    } else {
      require('../desktop')()
    }
