@charset "UTF-8";

@font-face {
  font-family: "icon-font";
  src:url("../fonts/icon-font.eot");
  src:url("../fonts/icon-font.eot?#iefix") format("embedded-opentype"),
    url("../fonts/icon-font.woff") format("woff"),
    url("../fonts/icon-font.ttf") format("truetype"),
    url("../fonts/icon-font.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "icon-font" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "icon-font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-home-house-streamline:before {
  content: "c";
}
.icon-settings-streamline-1:before {
  content: "d";
}
.icon-database-streamline:before {
  content: "e";
}
.icon-book-dowload-streamline:before {
  content: "f";
}
.icon-notebook-streamline:before {
  content: "h";
}
.icon-paperplane:before {
  content: "l";
}
.icon-cancel-circled:before {
  content: "a";
}
.icon-minus-circled:before {
  content: "b";
}
.icon-signal:before {
  content: "m";
}
.icon-plus-circled:before {
  content: "n";
}
.icon-refresh:before {
  content: "o";
}
.icon-plus:before {
  content: "t";
}
.icon-check-mark:before {
  content: "g";
}
.icon-remove:before {
  content: "k";
}
.icon-receipt-shopping-streamline:before {
  content: "r";
}
.icon-right-circled:before {
  content: "u";
}
.icon-delete-garbage-streamline:before {
  content: "p";
}
.icon-edit-modify-streamline:before {
  content: "s";
}
.icon-lock:before {
  content: "j";
}
.icon-unlock-2:before {
  content: "i";
}
.icon-anchor:before {
  content: "q";
}
.icon-circle-line:before {
  content: "v";
}
.icon-circle:before {
  content: "w";
}
.icon-pickaxe:before {
  content: "x";
}
.icon-iocoin:before {
  content: "y";
}
.icon-caret-down-two:before {
  content: "z";
}
.icon-bell-two:before {
  content: "A";
}
.icon-exclamation:before {
  content: "B";
}
.icon-switch:before {
  content: "C";
}
.icon-angle-up:before {
  content: "F";
}
.icon-angle-down:before {
  content: "G";
}
.icon-gift:before {
  content: "D";
}